<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GluMapper">
    <sql id="Base_Column_List">
        gluId,userId,glu,createTime
    </sql>

    <insert id="insert" parameterType="com.example.entity.Glu" useGeneratedKeys="true" keyProperty="gluId">
        insert into glu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gluId != null">gluId,</if>
            <if test="userId != null">userId,</if>
            <if test="glu != null">glu,</if>
            <if test="createTime != null">createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gluId != null">#{gluId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="glu != null">#{glu},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <select id="selectAll" resultType="com.example.entity.Glu">
        select
        <include refid="Base_Column_List" />
        from glu
        <where>
            <if test="userId != null"> and userId = #{userId}</if>
        </where>
        order by createTime desc
    </select>

</mapper>