<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.LikeMapper">

    <insert id="insert" parameterType="com.example.entity.Likes" useGeneratedKeys="true" keyProperty="like_id">
        insert into likes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="likeId != null">likeId,</if>
            <if test="userId != null">userId,</if>
            <if test="newsId != null">newsId,</if>
            <if test="postId != null">postId,</if>
            <if test="createTime != null">createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="likeId != null">#{likeId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="newsId != null">#{newsId},</if>
            <if test="postId != null">#{postId},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

</mapper>
